PORT=3000
ANTHROPIC_API_KEY=your_anthropic_api_key_here
SERPAPI_KEY=your_serpapi_key_here
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/linkplace?retryWrites=true&w=majority
FIREBASE_SERVICE_ACCOUNT={"type": "service_account", "project_id": "...", "private_key_id": "...", "private_key": "...", "client_email": "...", "client_id": "...", "auth_uri": "...", "token_uri": "...", "auth_provider_x509_cert_url": "...", "client_x509_cert_url": "..."}
